<!DOCTYPE html>
{% load static %}
{% load background_image_tags %}

<html>
<head>
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/about/base.css' %}" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap4/bootstrap.min.css' %}">
</head>

<body class="about-body" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar sticky-top navbar-expand-md  navbar-dark header" >
      <a href="{% url 'kmyprod' %}" class="navbar-brand"></a>
      <a href="{% url 'kmyprod' %}" class="navbar-brand">KmyProd</a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
              {% for item in navigation_items %}
                <li class="nav-item  {% if item.active %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url }} ">{{ item.name }}</a>
                </li>
              {% endfor %}
          </ul>
      </div>
  </nav>



{% block content %}

{% endblock content %}

<!-- FOOTER -->

<footer class="text-center">
<a href="#about">
  <span class="fa fa-chevron-up" aria-hidden="true"></span>
</a>
    <h5>Copyright &copy; 2020 KmyProd - Tous Droits Réservés</h5>
</footer>



<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script>
      function kmyprod_plus_ou_moin() {
      var kmyprod = document.getElementById("kmyprod_less");
      var kmyprod_more = document.getElementById("kmyprod_more");
      var kmyprod_button = document.getElementById("kmyprod_button");


      if (kmyprod.style.display === "none") {
        kmyprod.style.display = "inline";
        kmyprod_more.style.display = "none";
        kmyprod_button.innerHTML = "Lire plus";
      } else {
        kmyprod.style.display = "none";
        kmyprod_more.style.display = "inline";
        kmyprod_button.innerHTML = "Lire moins";
      }

    }



    function moustaphak_plus_ou_moin() {
      var moustaphak = document.getElementById("moustaphak_less");
      var moustaphak_more = document.getElementById("moustaphak_more");
      var moustaphak_button = document.getElementById("moustaphak_button");


      if (moustaphak.style.display === "none") {
        moustaphak.style.display = "inline";
        moustaphak_more.style.display = "none";
        moustaphak_button.innerHTML = "Lire plus";
      } else {
        moustaphak.style.display = "none";
        moustaphak_more.style.display = "inline";
        moustaphak_button.innerHTML = "Lire moins";
      }

    }



    function tombon_plus_ou_moin() {
      var tombon = document.getElementById("tombon_less");
      var tombon_more = document.getElementById("tombon_more");
      var tombon_button = document.getElementById("tombon_button");

      if (tombon.style.display === "none") {
        tombon.style.display = "inline";
        tombon_more.style.display = "none";
        tombon_button.innerHTML = "Lire plus";
      } else {
        tombon.style.display = "none";
        tombon_more.style.display = "inline";
        tombon_button.innerHTML = "Lire moins";
      }

    }


    function idrissa_plus_ou_moin() {
      var idrissa = document.getElementById("idrissa_less");
      var idrissa_more = document.getElementById("idrissa_more");
      var idrissa_button = document.getElementById("idrissa_button");

      if (idrissa.style.display === "none") {
        idrissa.style.display = "inline";
        idrissa_more.style.display = "none";
        idrissa_button.innerHTML = "Lire plus";
      } else {
        idrissa.style.display = "none";
        idrissa_more.style.display = "inline";
        idrissa_button.innerHTML = "Lire moins";
      }
    }
  </script>


<!-- ckeditor - prism -->
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'prism/css/prism.css' %}">

</body>
</html>
