{% extends "about/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}KmyProd{% endblock %}

{% block content %}


<style>
    .about-header {
    background-image: url('{% static "img/background.jpg" %}');
    padding: 20px 0 100px;
    height:100%;
    weight:100%;
}

</style>

<!-- hearder -->

<div class="text-center about-header">
<a href="#about">
  <span class="fa fa-chevron-up" aria-hidden="true"></span>
</a>
    <h1>Education, Agroalimentaire, Elevage & Immobilier</h1>
    <a href="{% url 'projets' %}" class="button1">Nos Projets</a>
</div>

<!-- services content -->

<div class="container-fliud" id="services">
  <div class="row">
    <div class="col-md-4">
      <div class="services-block">
        <h3>Education</h3>
        <hr class="red-divider">
        <p>
          L' éducation est un bien public qui contribue au développement social, culturel, démocratique et économique.
        <p/>

        <p>
        Tout être humain a le droit à l'éducation. Notre objectif chez KmyProd, est de contribuer à l'éducation des élèves quelque soit la localité,
        à les former en vue de leur insertion sociale et professionnelle.
        </p>
        <p>
          Nous accompagnons les élèves dans l'acquisition des connaissances et leur mise et pratique. Tout élève de KmyProd bénéficie d'un suivi personalisé, en ligne ou à domicile.
        </p>
          <div class="text-center">
            <a href="{% url 'instructors' %}"  class="button1">Les Professeurs</a>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="services-block">
        <h3>Agroalimentaire</h3>
        <hr class="red-divider">
        <p>Un développement durable nécessite la mise en valeur des ressources naturelles</p>
        <p>Mettre l’accent sur le secteur agricole est non seulement un moyen pour KmyProd de mettre en valeur des produits locaux en procédant à leur production et à leur commercialisation, mais aussi de revaloriser ce secteur dans les zones rurales</p>
        <p>Le principal objectif de KmyProd dans ce secteur est de vous offrir des produits locaux de très bonne qualité.</p>
        <div class="text-center">
          <a href="{% url 'services' %}"  class="button1">Découvrir les produits</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="services-block">
        <h3>Immobilier</h3>
        <hr class="red-divider">
        <p>Pour avoir une bonne rentabilité de son investissement locatif, vous devez commencer par bien savoir la calculer. </p>
        <p>Selon les paramètres pris en compte, vous pouvez vous baser sur la rentabilité brute, la rentabilité nette de frais et charges, ou bien la rentabilité nette.</p>
        <p>Chez KmyProd, nous avons mis à votre disposition une équipe compétente et dinamique, pour vous aider à optimiser la rentabilité de vos investissements locatifs.</p>
        <div class="text-center">
          <a href="{% url 'services' %}"  class="button1">Découvrir les offres</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- KmyProd -->

<div class="container-fliud" id="kmyprod">
  <div class="row">
    <div class="col-12">
      <div class="kmyprod-block">
        <h3>Qui sommes-nous ?</h3>
        <hr class="red-divider">
      {% autoescape on %}
        <p>
            Une Société à Responsabilité limité dénommer KMYPROD qui désigne KINTY MARENA YANKATTE PRODUCTIONS. Basée au Sénégal, KmyProd est le fruit de trois jeunes Sénéglais, <a style="color: #007b5e;" href="#prest-moustaphak">Moustapha KINTY</a>, <a style="color: #007b5e;" href="#prest-tombon">Tombon MARENA</a> et <a style="color: #007b5e;" href="#prest-idrissa">Idrissa YANKATTE</a>, animés par l'envie de relever de nouveaux défis.
        <br>
        <br>
            Etant conscient qu’un développement durable nécessite la mise en valeur des ressources naturelles nous avons décidé de mettre l’accent sur le secteur agricole qui d’ailleurs nous tient à cœur car, depuis tout petit nous cultivons la terre avec nos parents. Ce qui nous donne une certaine connaissance et maitrise de la culture de l’arachide, du riz, du maïs, etc. Nous avons décidé d’orienter notre projet dans ce secteur parce qu’il est à la base du développement local et nous cherchons tout simplement à le valoriser afin de réduire considérablement le manque d’emploi et de permettre aux jeunes paysans de travailler dans la dignité pour satisfaire leurs besoins et ceux de leur famille et éviter en même temps l’exode rural.
          <span id="kmyprod_less"><strong>[...]</strong></span>
          <span id="kmyprod_more">
        <br>
        <br>
            Nous avons constaté en outre, qu’un développement durable passe nécessairement par la mise en valeur des produits locaux, c’est la raison pour laquelle nous avons décidé de procéder à leur production et à leur commercialisation. De ce commerce nous cherchons à répondre aux besoins alimentaires de la population locale à un prix raisonnable pour minimiser l’importation et favoriser leurs consommations.
        <br>
        <br>
            Nous avons décidé d’œuvrer également dans l’éducation, dans l’élevage, dans l’industrie, dans l’immobilier ou mobilier, dans le transport, dans l’assurance et banque, et dans la santé, car nous constatons que ces différents secteurs sont rentables et emploient des milliers de personnes. Par conséquence, leurs exploitations contribueront aussi à lutter contre le manque d’emplois provoquant souvent l’exode rural et l’insécurité dans de grandes villes comme Kaolack, Dakar etc.
        <br>
        <br>
            Avec KmyProd nous envisageons de créer les bases d’un développement durable en mettant l’accent sur la production et la commercialisation des produits locaux afin de réduire considérablement le chômage. Nous cherchons également à sauvegarder la dignité de l’être humain par la création des conditions de travail descend permettant à tout citoyen ambitieux de gagner sa vie honnêtement.
        </span>
        </p>
          <a type="button" style="color: #007b5e;"
              onclick="kmyprod_plus_ou_moin()"
              class="nav-toggle"
              id="kmyprod_button">
              Lire plus
          </a>
    {% endautoescape %}
      </div>
    </div>
  </div>
</div>


<!-- presentation -->

<div class="presentation" id="team-assoce">
    <div class = "row">

       <div class = "col-md-4 prest" id="prest-moustaphak">
          <div class="prest-block">
              <div class="prest-profile">
                  <img class="card-img-top rounded-circle" src='{% static "img/prof_moustaphak.jpg" %}' alt="Moustapha KINTY">
              </div>
              <div class="prest-body">
                <h5 class="prest-title">Moustapha Kinty</h5>
                <h6 class="prest-post">Data Scientist | Co-founder & CEO @ KmyProd</h6>
                <p class="prest-text">
                    Moustapha est le CEO et co-fondateur de KmyProd. Diplômé en mathématiques appliquées et informatique, Moustapha s'est ensuite spécialisé en data science.
                    <span id="moustaphak_less"><strong>[...]</strong></span>
                    <span id="moustaphak_more">
                    Après sa formation chez Jedha où il a développé des compétences en data science et en programmation en Python qui s'étendent de l'extraction et le nettoyage de données jusq'à la création de produits data enrichis par l'intelligence artificielle, Moustapha a intégré l'équite enseignant de Jedha comme assistant formateur en data science.
                    Mathématicien, statisticien de formation, Moustapha enseigne les mathématiques chez Acadomia.
                    Moustapha dispose aussi des compétences en développement web, en particuler avec le framwork Django. Résultat, après avoir co-fondé KmyProd avec Tombon et Idrissa, Moustapha décida de développer ce magnifique site de KmyProd avec le framework django.
                     </span>
                </p>
                  <a type="button" style="color: #007b5e;"
                      onclick="moustaphak_plus_ou_moin()"
                      class="nav-toggle"
                      id="moustaphak_button">
                      Lire plus
                  </a>
              </div>
            </div>
       </div>

       <div class = "col-md-4 prest" id="prest-tombon">
          <div class="prest-block">
              <div class="prest-profile">
                  <img class="card-img-top rounded-circle" src='{% static "img/prof_tombon.jpg" %}' alt="Moustapha KINTY">
              </div>
              <div class="prest-body">
                <h5 class="prest-title">Tombon Maréna</h5>
                <h6 class="prest-post">Co-founder @ KmyProd</h6>
                <p class="prest-text">
                    Tombon est le directeur marketing, immobilier et co-fondateur de KmyProd. Juriste de formation, Tombon est passionné par l’entreprenariat.
                    <span id="tombon_less"><strong>[...]</strong></span>
                    <span id="tombon_more">
                    Diplômé en droit, option Citoyenneté, Action Humanitaire, Mine et Energie, Tombon s’est investi à défendre les droits de tout être humain en vue de sauvegarder la dignité de l’espèce humaine car, la dignité est un principe matriciel, la raison d’être de l’ensemble des droits fondamentaux. Elle constitue en réalité, le fondement de la liberté, de la justice et de la paix dans le monde.
                    Il résulte de l’article 23 de la déclaration  universelle des droits de l’homme que toute personne a droit à un travail et à une rémunération équitable et satisfaisante lui assurant ainsi qu’à sa famille une existence conforme à la dignité humaine. Pour concrétiser l’esprit de cette disposition, Tombon s’engage avec Moustapha et Idrissa dans une aventure qui leur passionne, en mettant sur pied la société Kmyprod.
                    Spécialiste des questions de protection des droits humain, Tombon dirige aujourd’hui le secteur marketing et de l’immobilier de la société KmyProd.
                    </span>
                </p>
                  <a type="button" style="color: #007b5e;"
                      onclick="tombon_plus_ou_moin()"
                      class="nav-toggle"
                      id="tombon_button">
                      Lire plus
                  </a>
              </div>
            </div>
       </div>

       <div class = "col-md-4 prest" id="prest-idrissa">
          <div class="prest-block">
              <div class="prest-profile">
                  <img class="card-img-top rounded-circle" src='{% static "img/prof_idrissa.jpg" %}' alt="Moustapha KINTY Bureau-prof">
              </div>
              <div class="prest-body">
                <h5 class="prest-title">Idrissa Yankatte</h5>
                <h6 class="prest-post">Co-founder @ KmyProd</h6>
                <p class="prest-text">
                    Idrissa est le directeur agricole et co-fondateurs de KmyProd.
                    Diplômé d'un master, il décida de poursuivre ses études de doctorat en se spécialisant en neuro-pédiatrie et en dermatologie.
                    <span id="idrissa_less"><strong>[...]</strong></span>
                    <span id="idrissa_more">
                    Passionné par l'agro-business, Idrissa coordonne aujourd'hui le secteur agroale de KmyProd.
                    Médecin en formation, Idrissa ne sèche d'encourager les jeunes à embrasser la science médicale. Préoccupé par la santé de tout être humain, Idrissa intervient aussi dans des structures para-privées de manière bénovol.
                    </span>
                </p>
                  <a type="button" style="color: #007b5e;"
                      onclick="idrissa_plus_ou_moin()"
                      class="nav-toggle"
                      id="idrissa_button">
                      Lire plus
                  </a>
                      </div>
            </div>
       </div>

    </div>
</div>

<!-- endpresentation -->


{% endblock content %}