{% extends "courses/base.html" %}

{% block title %}
  {% if object %}
    Modifier le cours "{{ object.title }}"
  {% else %}
    Créer un nouveau cours
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Modifier le cours "{{ object.title }}"
    {% else %}
      Créer un nouveau cours
    {% endif %}
  </h1>
  <div class="module">
    <h2>Informations sur le cours</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Save course"></p>
    </form>
  </div>
{% endblock %}
