{% extends "courses/base.html" %}

{% block title %}
  {% if object %}
    Modifier le contenu "{{ object.title }}"
  {% else %}
    Ajouter un nouveau contenu
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Modifier le contenu "{{ object.title }}"
    {% else %}
    Ajouter un nouveau contenu
    {% endif %}
  </h1>
  <div class="module">
    <h2>Informations sur le cours</h2>
    <form method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {{form.media}}
      {% csrf_token %}
      <p><input type="submit" value="Save content"></p>
    </form>
  </div>
{% endblock %}
